<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shade">

    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_mainicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_mainicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shade">
        <activity android:name=".view.MainActivity"/>
        <activity
            android:name=".view.SplashActivity"
            android:label="Shade"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".view.userActivity.JoinActivity" />
        <activity android:name=".view.userActivity.LoginActivity" />
        <activity android:name=".view.server.SearchSchoolActivity"/>
        <activity android:name=".view.WritePostActivity"/>
        <activity android:name=".view.PostDatailActivity"/>
        <activity android:name=".view.NoticeActivity"/>
        <activity android:name=".view.VersionActivity"/>
        <activity android:name=".view.DeleteActivity"/>
    </application>
</manifest>
